@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'cera-font';
  src: url('../assets/cera-font/Fontspring-DEMO-cerapro-regular.otf') format('truetype');
  /* src: url('../assets/cera-font/Fontspring-DEMO-cerapro-medium.otf') format('truetype');
  src: url('../assets/cera-font/Fontspring-DEMO-cerapro-light.otf') format('truetype');
  src: url('../assets/cera-font/Fontspring-DEMO-cerapro-bold.otf') format('truetype'); */
  /* Add more src lines for other font file formats (e.g., woff, woff2) if needed */
}
.main{
  font-variant-ligatures: normal;
  background-size: 32px 32px;
  background-image: radial-gradient(#fcdcd6 1px, #fff8f7 0px);
  -webkit-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  /* --tw-text-opacity: 1; */
  color: #45312e;
  font-family: 'cera-font', sans-serif;
}

.markdown-content a {
  @apply text-blue-600 underline; /* Tailwind CSS classes for links */
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  @apply border-b border-gray-300; /* Border bottom for headers */
}

.markdown-content blockquote {
  @apply border-l-4 border-gray-300 italic pl-4 py-2; /* Blockquote style */
}

.markdown-content pre {
  @apply p-4 bg-gray-100 rounded; /* Code block style */
}